/* font */
h1 {
  font-size: 65px;
}

/* Navbar Responsive */
#navbar2 {
  display: none;
}

@media (max-width: 768px) {
  #navbar1 {
    display: none;
  }
  #navbar2 {
    display: contents;
  }
  #home {
    height: 100vh;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

/* Lebar Navbar*/
@media (max-width: 768px) {
  #offcanvasNavbar {
    width: 75%;
  }
}

/* Spasi Pargraf */
p:first-letter {
  margin-left: 2.9em;
}

/* Button Kembali */
.kembali:hover {
  color: #0000fe !important;
  padding-right: 20px;
  font-size: large;
}
