/* font */
h1 {
  font-size: 45px;
}

/* Tinggi Layer & Navbar */
#home{
  height: 100vh;
}

.baground1 {
  height: 100vh;  
  text-align: justify;
  background-image: url(/image/yellow-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.baground2{
  background-image: url(/image/image.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position:right top;
  background-size: 550px;
}
.baground2 .tinggi{
  height: 64%;
}

#navbar2 {
  display: none;
}

@media (max-width: 768px) {
  #navbar1 {
    display: none;
  }
  #navbar2 {
    display: contents;
  }
  #home {
    height: 100vh;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

/* Lebar Navbar*/
@media (max-width: 768px) {
  #offcanvasNavbar {
    width: 75%;
  }
}



